ClientUnity/.vscode/
ClientUnity/*.vs
ClientUnity/*.csproj
ClientUnity/*.sln
ClientUnity/Library/
ClientUnity/Temp/
ClientUnity/UnityPackageManager
ClientUnity/Logs/
ClientUnity/obj/
ClientUnity/Packages/

ClientUnity/Assets/Test
ClientUnity/Assets/Test.meta